# Demo notebook

Notebook description.

## Imports

In [1]:
# Assume we're running from project root
%cd ..

/Users/cfn18/Documents/PhD-Work/Thesis-Computing/Determinisitc/l96_ebm_boundary_crisis

In [2]:
# Local imports
# from src.foo import bar

# Other imports
from pathlib import Path
import pandas as pd

## Plot/Data Locations

In [3]:
plot_pd = Path('plots')
data_pd = Path('data')
config_pd = Path('cfg')

## Project work

In [7]:
pd.read_csv(data_pd/'tipping_points.csv')

     Unnamed: 0     S dissapearing_attractor  tipping_time
0             0  14.5                     sb           NaN
1            11  14.6                     sb           NaN
2             2  14.5                     sb           NaN
3             8  14.5                     sb           NaN
4            13  14.6                     sb           NaN
..          ...   ...                    ...           ...
195         193   8.3                      w           NaN
196         195   8.3                      w           NaN
197         194   8.3                      w           NaN
198         197   8.3                      w           NaN
199         198   8.3                      w           NaN

[200 rows x 4 columns]

In [4]:
pd.read_csv(data_pd/'tipping_points.csv', index_col=0).groupby('S').count()

      dissapearing_attractor  tipping_time
S
7.5                       10            10
7.6                       10            10
7.7                       10            10
7.8                       10             9
7.9                       10             0
8.0                       10             0
8.1                       10             0
8.2                       10             0
8.3                       10             0
14.5                      10             0
14.6                      10             0
14.7                      10             0
14.8                      10             0
14.9                      10             0
15.0                      10             2
15.1                      10             8
15.2                      10            10
15.3                      10            10
15.4                      10            10
15.5                      10            10

In [5]:
pd.read_csv(data_pd/'tipping_points.csv', index_col=0).groupby('S').mean()

/var/folders/j2/xvq6h5k13pjd0s455xjy4v980000gn/T/ipykernel_7382/454302664.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.read_csv(data_pd/'tipping_points.csv', index_col=0).groupby('S').mean()

      tipping_time
S
7.5      34.580000
7.6      56.640000
7.7     766.900000
7.8   22852.722222
7.9            NaN
8.0            NaN
8.1            NaN
8.2            NaN
8.3            NaN
14.5           NaN
14.6           NaN
14.7           NaN
14.8           NaN
14.9           NaN
15.0  26801.350000
15.1  34529.100000
15.2   6649.600000
15.3    987.950000
15.4    401.540000
15.5    139.690000

In [6]:
ds = pd.read_csv(data_pd/"transient_lifetimes.csv")
ds[ds.S==7.5].tipping_time.var()

107.17559294589266

In [9]:
import numpy as np
np.linspace(15.5, 15.1, 50)

array([15.5       , 15.49183673, 15.48367347, 15.4755102 , 15.46734694,
       15.45918367, 15.45102041, 15.44285714, 15.43469388, 15.42653061,
       15.41836735, 15.41020408, 15.40204082, 15.39387755, 15.38571429,
       15.37755102, 15.36938776, 15.36122449, 15.35306122, 15.34489796,
       15.33673469, 15.32857143, 15.32040816, 15.3122449 , 15.30408163,
       15.29591837, 15.2877551 , 15.27959184, 15.27142857, 15.26326531,
       15.25510204, 15.24693878, 15.23877551, 15.23061224, 15.22244898,
       15.21428571, 15.20612245, 15.19795918, 15.18979592, 15.18163265,
       15.17346939, 15.16530612, 15.15714286, 15.14897959, 15.14081633,
       15.13265306, 15.1244898 , 15.11632653, 15.10816327, 15.1       ])