# Demo notebook

Notebook description.

## Imports

In [1]:
# Assume we're running from project root
%cd ..

/Users/cfn18/Documents/PhD-Work/Thesis-Computing/Determinisitc/l96_ebm_boundary_crisis

In [2]:
# Local imports
# from src.foo import bar

# Other imports
from pathlib import Path
import pandas as pd

## Plot/Data Locations

In [3]:
plot_pd = Path('plots')
data_pd = Path('data')
config_pd = Path('cfg')

## Project work

In [13]:
print(pd.read_csv(data_pd/'tipping_points.csv', index_col=0).aggre('S').mean())
print(pd.read_csv(data_pd/'tipping_points.csv', index_col=0).groupby('S').count())

/var/folders/j2/xvq6h5k13pjd0s455xjy4v980000gn/T/ipykernel_24722/3249920215.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.read_csv(data_pd/'tipping_points.csv', index_col=0).groupby('S').mean()

      dissapearing_attractor  tipping_time
S
7.5                       10            10
7.6                       10            10
7.7                       10            10
7.8                        6             6
7.9                        1             0
14.5                      10             0
14.6                      10             0
14.7                      10             0
14.8                      10             0
14.9                      10             0
15.0                      10             2
15.1                      10             8
15.2                      10            10
15.3                      10            10
15.4                      10            10
15.5                      10            10